<div style="width:737px; margin:0 auto; padding:40px 0px 150px 0px">
  <div class="top1">
    <h2 >Download <%= file %> File</h2>
  </div>
  <div class="bg1_1">
    <div class="bg2_2">
      <div class="bg3_3">
        <div class="ovfl-hidden wrp_wrp_pblsh ">
          <div class="rigth_fnm_d fl ">
            <div class="wrp_1 ovfl-hidden">
              <h3 class="tlt_top">
                <span style="width:154px" class="fl">File Name</span> 
                <span style="width:70px" class="fl">File Type</span> 
                <span style="width:176px; padding-left:6px; text-align:center" class="fl">Last Updated</span> 
                
                <span> &nbsp; </span>
              </h3>
              <div class="desc_file_3">
              <% @downloaders.each do |download| %>
                <div class="wrp_list">
                  <ul class="listing_file">
                    <li class="frist_d">
                     <% if download.file == "PartPrice" %>
                      <label>Parts Exchange Price</label>
                     <%else%>
                      <label>Market Basket File </label>
                     <%end%> 
                   </li>
                  
                   <li class="scnd_d" style="width:100px; text-align:center">
                      <label>CSV</label>
                   </li>
                  
                    <li class="thrd_d" style="width:180px">
                      <label><%= download.updated_at %> </label>
                    </li>
                  
                    <li class="frth_d" style="width:140px">
                      <%if download.file == "PartPrice" %>
                        <label> </label>
                      <%else%>
                        <label></label>
                      <%end%> 
                    </li>
                    
                    <li class="fifth_d" style="width:90px;float:right;">
                       <%= link_to 'Download',download_path(:id => download.id) %>
                    </li>
                  </ul>
                </div>
              <%end%> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="end1_1">
    <div>&nbsp;</div>
  </div>
</div>
