<div class="rigth_fnm fl">
  <div class="wrp_1 ovfl-hidden">
    <h3 class="tlt_top">
      <span style="width:122px" class="fl">File Name</span> 
      <span style="width:86px" class="fl">File Type</span> 
      <span style="width:112px; padding-left:6px; text-align:center" class="fl">Uploaded On</span> 
      <% if controller.action_name == "index" %>
        <span style="width:85px; padding:0 0 0 11px" class="fl">Select</span>
      <%else%>
        <span style="width:89px" class="fl">&nbsp;</span>  
      <%end%>
    </h3>
    <div class="desc_file_2">
      <% @basic_files.each do |basic_file| %>
        <div class="wrp_list">
          <ul class="listing_file">
            <li class="frist">
              <a href="<%= basic_file.asset %>" class="link_f"><%= basic_file.name %> </a>
            </li>
            <li class="scnd">
              <% if basic_file.type_of == "PartPrice" %>
                <label>Parts Exchange Price</label>
              <%else%>
                <label>Market Basket Price</label>
              <%end%>
            </li>
            <li class="thrd">
              <label><%= basic_file.uploaded_at.to_date rescue '' %> </label>
            </li>
            <% if controller.action_name == "index" %>
              <li class="frth">
                <div class="ovfl-hidden">
                  <%= check_box_tag 'publish[]',basic_file.id,false,:class => "published_checkbox",:style => "vertical-align:middle; margin:4px 0 0 0"%>
                </div>
              </li>
            <%elsif controller.action_name == "upload_failed" %>
              <li class="frth">
                <div class="ovfl-hidden link_rupload">
                  <%= link_to "Error",validation_error_basic_file_path(basic_file),:remote => true,:class => "validation_error fl red" %><%= link_to 'Re-Upload',edit_basic_file_path(basic_file),:class => "fr" %> 
                </div>
              </li>
           <%end%> 
        </ul>
      </div>
     <%end%> 
    </div>
  </div>
</div>
<% if controller.action_name == "index" %>
<div class="btn_wrp2 fr" style="padding:15px 5px 0 0">
  <div class="d_button">
    <%= submit_tag "Publish",:style => "width:66px" %>
  </div>
</div>
<%end%>
