<%= form_for @basic_file ,:multipart => true do |f| %>
  <div class="ovfl-hidden box_exng">
    <div class="wrp_txt" style="margin-bottom:16px">
      <%= f.text_field :name ,:placeholder => "File Name",:class => "text_Basket fl" ,:id => "file_name"%>
    </div> 
    <div>
      <%= f.file_field :asset ,:class => "f1" %>
      <%= f.hidden_field :asset_cache %>
    </div> 
    <label class="link_frgt" >Please upload .csv file</label>
  </div>
  
  <div class="fl" style="width:42px; height:40px; display:block">&nbsp;</div>
  
  <div class="btn_wrp3" style="padding:8px 0 0 0; overflow:hidden">
    <%= f.hidden_field :type_of,:value => type_of  %>
    <div class="d_button fl" >
      <%= link_to 'Back',:back,:style =>"width:65px" %>
    </div>
    <div class="fl" style="width:20px; height:40px; display:block">&nbsp;</div>
    <div class="d_button fr" >
      <%= f.submit "Upload",:style => "width:65px" %>
    </div>
  </div>
<% end %>
<% if @basic_file.new_record? %>
<%= javascript_tag do %>
   $(document).ready(function() {
    $('input[type=file]').bind('change',function() {
     $('#file_name').val($(this).val().split(/(\\|\/)/g).pop());		
   })
  })
<%end%>
<%end%>
