<div class="left_fnm fl">
  <ul class="left_tab">
    <li class="first">
      <%= link_to 'Upload New File',upload_path %>
      <li class="<%= css_class('index') %>">
        <%= link_to_unless_current("Successful Upload",{:action => :index},{"data-header" => "Successful Upload",:class => "remote_link" ,:remote => true}) %>
        </li>
      <li class="<%= css_class('upload_in_progress') %>">
        <%= link_to_unless_current('Upload in Progress',{:action => 'upload_in_progress'},{:class => "remote_link","data-header" => "Upload in Progress",:remote => true}) %> 
       </li>
      <li class="<%= css_class(name) %>">
        <%= link_to_unless_current('Upload Failure',{:action => 'upload_failed'},{:class => "remote_link failed","data-header" => "Upload Failure",:remote => true}) %> 
      </li>
  </ul>
</div>
