<div class="rigth_fnm fl ">
  <div class="wrp_1 ovfl-hidden">
    <h3 class="tlt_top">
      <span style="width:122px" class="fl">File Name</span>
      <span style="width:86px" class="fl">File Type</span>
      <span style="width:112px; padding-left:6px; text-align:center" class="fl">Uploaded On</span> 
      <% if controller.action_name == "publish_completed" %>
        <span style="width:85px; padding:0 0 0 11px" class="fl">Published on</span>
       <% elsif controller.action_name == "publish_failed" %>
       <span style="width:85px; padding:0 0 0 11px" class="fl">Select</span>
      <%end%> 
    </h3>
   
    <div class="desc_file_2">   
      <% @basic_files.each do |basic_file| %>
        <div class="wrp_list">
          <ul class="listing_file">
            <li class="frist">
             <a href="<%= basic_file.asset %>" class="link_f"><%= basic_file.name %> </a>
            </li>
            <li class="scnd">
              <% if basic_file.type_of == "PartPrice" %>
                <label>Parts Exchange Price</label>
              <%else%>
                <label>Market Basket Price</label>
              <%end%>
            </li>
            <li class="thrd">
              <label><%= basic_file.uploaded_at.to_date %></label>
            </li>
            <% if controller.action_name == "publish_completed" %>
              <li class="frth">
                <label><%= basic_file.published_at.to_date %></label>
             </li>
            <% elsif controller.action_name == "publish_failed" %>
             <li class="frth">
              <div class="ovfl-hidden">
                <%= check_box_tag 'publish[]',basic_file.id,false,:class => "republished_checkbox",:style => "vertical-align:middle; margin:4px 0 0 0"%>
              </div>
             </li> 
            <%end%> 
          </ul>
        </div>
      <%end%>
    </div>
  </div>
</div>
<% if controller.action_name == "publish_failed" %>
<div class="btn_wrp2 fr" style="padding:15px 5px 0 0">
  <div class="d_button">
    <%= submit_tag "Re-Publish",:style => "width:78px" %>
  </div>
</div>
<%end%>
