<%= javascript_tag do %>
    function check_checkboxes() {
      if($('input.republished_checkbox').is(':checked')) {
        return true;
      }
      else {
        alert('Please Select atleast one Checkbox'); 
        return false;
      }
    }
<%end%>

<div class="left_fnm fl">
  <ul class="left_tab">
    <li class="first ">
      <%= link_to 'Publish File',basic_files_path %>
    </li>
    <li class="<%= css_class('publish_completed') %>">
       <%= link_to_unless_current("Published File",{:action => :publish_completed},{:class => "remote_link" ,:remote => true,'data-header' => 'Published File'}) %>
    </li>
    <li class="<%= css_class('publish_in_progress') %>">
      <%= link_to_unless_current('Publish in Progress',{:action => :publish_in_progress} ,{:remote => true,:class => "remote_link" ,'data-header' => ' Publish in Progress'}) %>
    </li>
    <li class="last <%= css_class('publish_failed') %>">
      <%= link_to_unless_current('Publish Failure',{:action => :publish_failed},{:remote => true,:class => "remote_link",'data-header' => 'Publish Failure'}) %>
    </li>
  </ul>
</div>
<% if controller.action_name == "publish_failed" %>
  <%= form_tag publish_basic_files_path ,:onsubmit => "return check_checkboxes();" do %>
    <%= render :partial => 'publish_common' %>
  <%end%>
<%else%>
  <%= render :partial => 'publish_common' %>
<%end%>
