<%= javascript_tag do %>
    function check_checkboxes() {
      if($('input.published_checkbox').is(':checked')) {
        return true;
      }
      else {
        alert('Please Select atleast one Checkbox'); 
        return false;
      }
    }
<%end%>
<%= render :partial => 'navigation' ,:locals =>{:name  => 'upload_failed'} %>
<%= form_tag publish_basic_files_path ,:onsubmit => "return check_checkboxes();" do %> 
  <%= render 'common' %>
<%end%> 


