<div class="admin_sec">
 <div class="text_a">Please select the file type you wish to Download</div>
    <div class="ovfl-hidden btn_sec">
      <div class="fl"> 
        <a class="a_button_a" href="<%= downloadable_part_price_file_path %>"> 
          <span style="width:210px; height:53px" >Parts Exchange Price File</span> </a> </div>
      <div class="fr"> 
        <a class="a_button_a" href="<%= downloadable_market_basket_file_path %>" > 
        <span style="width:210px; height:53px" >Market Basket Price File</span> </a> </div>
      </div>
    </div>
 </div>  
</div> 
