<div style="width:737px; margin:0 auto; padding:40px 0 40px 0">
  <div class="top1">
    <h2>Uploaded Successfully</h2>
  </div>
  <div class="bg1_1">
    <div class="bg2_2">
      <div class="bg3_3">
        <div class="ovfl-hidden wrp_wrp_pblsh" style="width:706px" id="container">
          <%= render 'upload_done' %>
        </div>
      </div>
    </div>
  </div>
  <div class="end1_1">
    <div>&nbsp;</div>
  </div>
</div>

<%= javascript_tag do %>
  
  $(document).ready(function() {
     var ajaxLoading ;
     $('#container').delegate('a.remote_link','ajax:beforeSend',function(evt, xhr, settings){ 
     		ajaxLoading = new ajaxLoader(document.body, { classOveride: 'blue-loader'} );
     })
     
     $('#container').delegate('a.remote_link','ajax:success',function(evt,data,status,xhr) {
       if (ajaxLoading) { ajaxLoading.remove(); }
       $("#container").html(data);
       var header = $(this).data('header');
       $('div.top1').find('h2').html(header);
     })
     

     
     $('#container').delegate('a.validation_error','ajax:success',function(evt,data,status,xhr) {
       $("#container").html(data);
     })    

  })
<%end%>
