<div style="width:388px; margin:0 auto; padding:147px 0px 150px 0;">
  <div class="top1">
    <% if @type_of == "PartPrice" %>
      <h2>Parts Exchange Price File</h2>
    <%else%>
      <h2>Parts Exchange Price File</h2>
    <%end%>  
  </div>
  <div class="bg1">
    <div class="bg2">
      <div class="bg3">
        <% unless @basic_file.errors.empty? %>
          <div class='alert alert-error' >
            <h2>Error Uploading File</h2>
            <%= content_tag(:ol,raw(content_error(:li,@basic_file.errors))) %>
          </div>
        <%end%>
        <div class="wrp_exchange" style="padding:12px 0 0 0">  
            <%= render :partial => "form" ,:locals => {:type_of => "PartPrice"} %>
        </div>
      </div>
    </div>
  </div>
  <div class="end1">
    <div>&nbsp;</div>
  </div>
</div>  


