<% if @basic_file.uploaded? || @basic_file.upload_failed? %>
<div style="width:363px; margin:0 auto; padding:147px 0px 150px 0;">
  <div class="top1">
    <h2 class="rel" >&nbsp;
      <%= link_to raw("&nbsp;"),home_path,:class => "home_link" %>
    </h2>
  </div>
  <div class="bg1_1">
    <div class="bg2_2">
      <div class="bg3_3">
          <div class="upload_wrp"> 
            <!--upload successfully page starts from here-->
              <div class="inn_div">
                <% if @basic_file.uploaded? %>
                  <label class="lbl_u_b">Upload was Successful!</label>
                <%else%>
                    <label class="lbl_u_b">Upload has Failed!</label>
                 <%end%>
                <label class="lbl_u_b" style="font-weight:normal">What would you like to do now?</label>
                <div class="ovfl-hidden upload_sucess">
                  <div class="fl">
                    <div class="d_button" >
                      <% if @basic_file.uploaded? %>
                        <%= link_to "Publish" ,basic_files_path,:style=>"width:100px" %>
                      <%else%>
                         <%= link_to "Inspect" ,basic_files_path(),:style=>"width:100px" %>
                      <%end%>
                    </div>
                  </div>
                  <div class="fr">
                    <div class="d_button" >
                      <%= link_to "Close", home_path,:style => "width:70px" %>
                    </div>
                  </div>
                </div>
              </div>
            <!--end of upload sucessfully .--> 
          </div>
      </div>
    </div>
  </div>
  <div class="end1_1">
    <div>&nbsp;</div>
  </div>
</div> 
<%else%>
  <div style="width:400px; margin:0 auto; padding:147px 0 0 0">
    <div class="top2">
      <h2 class="rel">Upload is in process <%= link_to raw("&nbsp;"),home_path,:class => "home_link" %>
      </h2>
    </div>
    <div class="bg1_1">
      <div class="bg2_2">
        <div class="bg3_3">
          <div style="width:100%; text-align:center">
            <%= image_tag('busy.gif',:alt=> "busy_bybbol") %> 
            <div class="msg_sec">
                <label style="text-align:center; margin:0 0 5px 0; display:block">You will be informed via email on process completion</label>
                <label style="text-align:center; font-weight:bold" class="lbl_u_b">What would you like to do now?</label>
            </div>
            
            <div class="ovfl-hidden upload_sucess" style="padding:0px 0 15px 0; margin:0 auto; width:200px">
              <div class="fl">
                <div class="d_button fl" >
                  <%= link_to 'Upload More',upload_path,:style => "width:125px" %>
                </div>
                <div class="fr">
                  <div class="d_button fl" >
                  <%= link_to "Close" ,home_path ,:style => "width:70px" %>
                  
                </div>
            </div>
          </div>
        </div>
      </div>
     </div> 
    <div class="end1_1">
     <div>&nbsp;</div>
    </div>
  </div>
  <%= javascript_tag do %>
    window.setInterval("window.location.reload();",10000);
  <%end%>   
<%end%>

