<div class="admin_sec">
  <div class="text_a">Please select the file type you wish to upload</div>
    <div class="ovfl-hidden btn_sec">
      <div class="fl">
         <% if can? [:new_part_price_file,:new_market_baskey_file],BasicFile %>
           <%= link_to raw(content_tag(:span,"Part Exchange Price File",:style => "width:210px")),new_part_price_file_basic_files_path,:class => "a_button_a" %>
         <%end%>  
      </div>
      <div class="fr">
        <% if can? [:new_part_price_file,:new_market_baskey_file],BasicFile %>
           <%= link_to raw(content_tag(:span,"Market Basket Price File",:style => "width:210px")),new_market_basket_file_basic_files_path,:class => "a_button_a" %>
        <%end%>   
      </div>
    </div>  
  </div>
</div>
