<%= render :partial => 'navigation' ,:locals =>{:name  => 'validation_error'} %>
<div class="fr wrp_4 ">
  <div class="rigth_fnm2 fr ">
    <h3 class="tlt_top"><span>Error Details</span></h3>
    <div class="ovfl-hidden">
      <div class="details">
        <ul class="error_details">
          <li>
            <label class="fl error_lbl4  ">File Name:</label>
            <label class="fl  frist "><a href="<%= @basic_file.asset %>" class="link_f"><%= @basic_file.name %> </a></label>
          </li>
          <li>
            <label class="fl error_lbl4  ">File Type:</label>
            <label class="fl error_msg_l  ">CSV</label>
          </li>
          <li>
            <label class="fl error_lbl4">Uploaded On:</label>
            <label class="fl error_msg_l"><%= @basic_file.created_at.to_date %></label>
          </li>
          <li>
            <label class="fl error_lb14 ">Statement: </label>
            <label class="fl error_msg_l" style="color:#f10000"><%= @basic_file.error_field %></label>
          </li>
        </ul>
      </div>
    </div>
    <div class="wrp_1 ovfl-hidden">
      <div class="desc_file_2" style="width:441px">
       <% @validation_errors.each do |errr| %>
        <div class="wrp_list" style="height:45px;">
          <ul class="listing_file">
            <%= raw file_content_error(errr) %>         
          </ul>
        </div>
       <%end%>
      </div>
    </div>
  </div>
  <div class="fr" style="padding:10px 0 0 0">
    <div class="d_button fl">
      <%= link_to 'Back',failed_upload_path,:remote => true,:style => "width:78px",:class => "remote_link","data-header" => "Upload Failed" %>
    </div>
  </div>
</div>
