<div style="width:400px; margin:0 auto; padding:40px 0 0 0">
  <div class="top1">
     <h2>Create User</h2>
  </div>
  <div class="bg1">
    <div class="bg2">
      <div class="bg3">
        <%= form_for(@user) do |f| %>
          <% if @user.errors.any? %>
            <div id="error_explanation" style="padding:0px 50px 5px 50px; background-color:#f2e0e3;color:#b94a48; margin:0px;" >
              <h2 style="padding-top:5px"><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
               <ol style="padding:5px 45px 5px 45px">
                 <% @user.errors.full_messages.each do |msg| %>
                    <li style="padding:3px"><%= msg %></li>
                 <% end %>
               </ol>
            </div>
         <% end %>
        <div class="wrp">
            <% if current_user.publisher? %>  
              <div class="ovfl-hidden box">
                <label class="log_lbl1 fl" style="width:48px">User<span>&nbsp;</span></label>
                <%= f.select :publisher ,options_for_select([["Publisher",true],["Subscriber",false]],:selected => @user.publisher),{},:class => "f1 select_c" %>
              </div>  
            <%end%>
            
            <div class="ovfl-hidden box">
              <label class="log_lbl1 fl">First name<span>*</span></label>
              <%= f.text_field :first_name ,:placeholder => "Enter First Name" ,:class => "text_input f1" %>
            </div>
             
              <div class="ovfl-hidden box">
                <label class="log_lbl1 fl">Last Name</label>
                <%= f.text_field :last_name ,:placeholder => "Enter Last Name" ,:class => "text_input f1" %>
               
              </div>
              
            
            <div class="ovfl-hidden box">
              <label class="log_lbl1 fl">Email<span>*</span></label>
              <%= f.text_field :email, :placeholder => "Enter Email" ,:class => "text_input f1" %>
            </div>
            
            <div class="ovfl-hidden box">
              <label class="log_lbl1 fl">Password<span>*</span></label>
              <%= f.password_field :password,:placeholder => "Password" ,:class => "text_input f1" %>
            </div>
            
            <div class="ovfl-hidden box">
              <label class="log_lbl1 fl">Confirm Password<span>*</span></label>
              <%= f.password_field :password_confirmation ,:placeholder => "Confirm Password" ,:class => "text_input f1"%>
            </div>

            <div class="btn_wrp2">
              <div class="d_button" >
                <%= f.submit "Save", :style => "width:66px" %>
               </div>
            </div>
        </div>
        <%end%> 
      </div>
    </div>
  </div>
  
  <div class="end1">
    <div>&nbsp;</div>
  </div>
</div>
       
