<div class="upload_asset2 ovfl-hidden  "> 
  <div class="export fl">
    <a href="/users/new" style="width:119px">
      <span class="addPlus fl">&nbsp;</span>
      <span class="fl">Add New User</span> 
    </a>
  </div>
    </div>
    <!--end of add new user button section -->
    
    <div style="width:570px;  padding:40px 0 40px 0; margin:0 0 0 20px">
      <div class="top1">
        <h2 >User</h2>
      </div>
      <div class="bg1_1">
        <div class="bg2_2">
          <div class="bg3_3">
            <div class="ovfl-hidden wrp_user ">
              <div class="rigth_fnm_u fl ">
                <div class="wrp_1 ovfl-hidden">
                  <h3 class="tlt_top">
                    <span style="width:117px" class="fl">User Name</span> 
                    <span style="width:117px" class="fl">user Type</span> 
                    <span style="width:117px; padding-left:6px; text-align:center" class="fl">Edit </span> 
                    <span style="width:117px; text-align:center" class="fl">Delete</span>
                  </h3>
                  <div class="desc_file_4_d">
                   <% @users.each do |user| %>
                    <div class="wrp_list">
                      <ul class="listing_file">
                        <li class="frist_u">
                          <%= user.name %>
                        </li>
                        <li class="scnd_u">
                          <label><%= user.publisher? ? "Publisher" : "Subscriber" %></label>
                        </li>
                        <li class="thrd_u"> 
                          <a href="<%= edit_user_path(user) %>" class="iconLink">
                             <img src="<%= asset_path('edit.png') %>" alt="editImg"/>
                          </a> 
                        </li>
                        <li class="frth_u"> 
                          <%= link_to raw(image_tag('delete_img.png')),user,method:'delete',confirm:'Are you sure you want to delete this user'%> 
                       </li>
                      </ul>
                    </div>
                   <%end%>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="end1_1">
        <div>&nbsp;</div>
      </div>
    </div>
