<div style="width:346px; margin:0 auto; padding:147px 0px 150px 0;">
 <div class="top1">
    <h2>Change your password</h2>
  </div>
  <div class="bg1_1">
    <div class="bg2_2">
      <div class="bg3_3">
        <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
           <% unless resource.errors.empty? %>
            <div class='alert alert-error' >
              <h2>Error !! Forgot Password</h2>
                <%= devise_error_messages! %>
             </div>  
            <%end%>   
            <%= f.hidden_field :reset_password_token %>
            <div class="wrp">  
              <div class="ovfl-hidden box">
                <label class="log_lbl1 fl">New Password</label>
                 <%= f.password_field :password ,:placeholder => "Password" ,:class => "text_input f1" %> 
              </div>
              <div class="ovfl-hidden box"> 
                <label class="log_lbl1 fl">Confirm new Password</label>
                <%= f.password_field :password_confirmation ,:placeholder => "Confirm Password" ,:class => "text_input f1" %>
                <%= render "links" %>
              </div>
              <div class="btn_wrp2">
                <div class="d_button">
                  <%= f.submit "Change Password" ,:style => "width:66px" %>
                </div>
             </div> 
            </div>     
        <% end %>
      </div>
    </div>  
  </div>
</div>  
