<div style="width:346px; margin:0 auto; padding:147px 0px 150px 0;">
  <div class="top1">
    <h2>Forgot your password?</h2>
  </div>
  <div class="bg1_1">
    <div class="bg2_2">
      <div class="bg3_3">
       <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
        <% unless resource.errors.empty? %>
        <div class='alert alert-error' >
            <h2>Error !! Forgot Password</h2>
            <%= devise_error_messages! %>
        </div>
        <%end%>
        <div class="wrp">  
            <div class="ovfl-hidden box">
              <label class="log_lbl1 fl">Email</label>
              <%= f.text_field :email ,:placeholder => "Email Address" ,:class => "text_input f1"%> 
              <%= render "links" %>
            </div>
            <div class="btn_wrp2">
              <div class="d_button">
                <%= f.submit "Submit" ,:style => "width:66px" %>
              </div>
            </div>
    
        </div>
        <%end%> 
      </div>
    </div>
  </div>
  <div class="end1_1">
    <div>&nbsp;</div>
   </div>
</div>


