<div class="home_sec">
  <div class="text">
    Thank You!  <%= flash[:message] %>
   </div>
   <label class="center_span">Go back to Home</label>
    <div class="wrp_btn">
      <div class="d_button"> 
      <a style="width:86px;" href="<%= home_path %>"><img  src="/assets/home.png" alt="img_home"  style="  vertical-align:middle"> </a> 
     </div>
    </div>
  </div>
</div>
