<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      Dear Publisher,
    </p>
    <p>
      The <%= @type %> File, File Name: <%= @file.name %>, has been Uploaded Successfully!.
    </p>
    <p>
      Regards, <br/>
      PPMP Team
    </p>
  </body>
</html>

