<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      Dear Publisher,
    </p>
    <p>
      The <%= @type %> File, File Names: <%= @filenames.join(" ") %>, has been published Successfully!. Please click on the below link to <br/>
      <a href="<%=  download_basic_files_url(:type => @file_type) %>">Download</a>
    </p>
    <p>
      Regards, <br/>
      PPMP Team
    </p>
  </body>
</html>

