<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      Dear Publisher,
    </p>
    <p>
      The <%= @type %> File, File Name: <%= @filenames.join(",") %> has been failed during Publishing!. 
      <br/>
      Citing Reason <%= @error %>
      Kindly Republish them 
    </p>
    <p>
      Regards, <br/>
      PPMP Team
    </p>
  </body>
</html>

