<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Dear <%= @user.name %>,</p>
    
    <p>
     Welcome to Decisiv Parts Exchange Application.
    </p>
    
    <p>
      An account has been created for you by the administrator
    </p> 
    <p> 
      Your username is  <%= @user.email %> and your password has been set to <%= @password %>
    </p> 
    <p>
      Please note that password is case sensitive.
    </p>
    <p>
      Go to 
      <%= login_url %> to login and start using the application.
    </p>
    
    <p>
      Regards ,<br/>
      Decisiv Support Team <br/>
      Email: support@decisiv.com <br/>
      Phone: 804 762 4153 Press 2 <br/>
    </p>
  </body>
</html>








