<div class="navbar navbar-fixed-top row-fluid">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="#">Decisv</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li class="active"><a href="/"><i class="icon-white icon-home"></i> Home</a></li>
          </ul>    
        </div>
      </div>  
    </div>
</div>
