<div style="width:400px; margin:0 auto; padding:147px 0px 150px 0;">
  <div class="top1">
     <h2>Login</h2>
  </div>
  
  <div class="bg1">
    <div class="bg2">
      <div class="bg3">
      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name),:class =>"form-horizontal") do |f| %>
        
       <% if !flash[:alert].nil? %>
        <div class='alert alert-error' style="padding-left:100px">
          <h2>ERROR !! User Sign in</h2>
            <ol style="padding-top:3px">
              <li>
               <%= flash[:alert] %>
              </li>
            </ol>
        </div>    
       <% elsif !flash[:notice].nil? %>
        <div class='alert alert-notice' style="padding:0px">
          <h2 style="padding-left:100px">
            <%= (flash[:notice] != "Signed out successfully." ? "Forget Password Info." : flash[:notice]) %>
          </h2>
          <% unless flash[:notice] == "Signed out successfully." %>
            <ol style="padding-top:3px">
              <li>
               <%= flash[:notice] %>
              </li>
            </ol>
          <%end%>
          </div>  
          
       <%end%>
      
      
        <div class="wrp">
          <div class="ovfl-hidden box">
               <label class="log_lbl1 fl">Email</label>
               <%= f.email_field :email ,:placeholder => "Email Address" ,:class => "text_input fl" %>
            </div>
            <div style="margin-bottom:15px" class="ovfl-hidden box">
               <label class="log_lbl1 fl">Password</label>
               <%= f.password_field :password ,:placeholder => "Password" ,:class => "text_input fl" %>
               <%= render "links" %>
            </div>
            <div class="btn_wrp2">
              <div class="d_button">
                <%= f.submit "Sign in" ,:style => "width:66px;" %>
              </div>
            </div>
        </div>  
       <%end%>
      </div>
    </div>
  </div>
        
  <div class="end1">
    <div>&nbsp;</div>
  </div>
</div>    


