.ajax_loader {
  background: url("/assets/spinner_squares_circle.gif") no-repeat center center transparent;
  width:100%;
  height:100%;
}

.blue-loader .ajax_loader {
  background: url("/assets/ajax-loader_blue.gif") no-repeat center center transparent;
}
