@charset "utf-8";
/****************************************************************************************************
* Filename: basic.css
* Purpose: All the basic CSS Rules required to design web pages.
* Author: Swapnil Telkar telkar[dot]swapnil8[at]gmail[dot]com
****************************************************************************************************/

/* GLOBAL RESETS
**********************************************************/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd,q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr,th, td , input[type="radio"], input[type="checkbox"] {margin:0; padding:0; border:0; outline:0; font-size:100%; background:transparent; resize:none}
body {line-height:1}
a, a:hover {text-decoration:none; outline:none}
a:active, a:focus {
	outline:0;
	text-decoration: none;
} /* to avoid link borders on new browsers */
img {border:none; vertical-align:-2px}
table {border-collapse:collapse; border-spacing:0}
header, nav, article, footer, address, section, aside {display: block}  
/* DEFAULT FORM STYLING
**********************************************************/
input[type="radio"], input[type="checkbox"] {vertical-align:-2px}
textarea {resize:none}
input {visibility:visible; outline:none}

/* INDIVIDUAL RESET
**********************************************************/
ul.reset, dl.reset, ul.makelist {list-style:none; padding:0; margin:0}

/* ALIGN CENTER
**********************************************************/
.equalgap {margin:0 auto}

/* MOZILLA FOCUS OULTINE NONE 
**********************************************************/
button::-moz-focus-inner,input[type="reset"]::-moz-focus-inner,input[type="button"]::-moz-focus-inner,input[type="submit"]::-moz-focus-inner,input[type="file"] > input[type="button"]::-moz-focus-inner {border: none}

/* FLOATS
**********************************************************/
.fl {float:left} 
.fr {float:right}

/* CLEAR FLOAT
**********************************************************/
.clr {clear:both; padding:0; margin:0; overflow:hidden; height:0}

/* POSITION RELATIVE
**********************************************************/
.rel {position:relative}

/* WIDTH 100% 
**********************************************************/
.fullwid {width:100%}

/* ALL TEXT CSS
**********************************************************/
/*font WEIGHTS */
.strong {font-weight:bold} 

/* text ALIGN & content ALIGN for inline level ELEMENTS */
.centerAll {text-align:center}
.leftAlign {text-align:left}
.rightAlign {text-align:right}
.justified {text-align:justify}

/* OVERFLOW-HIDDEN
**********************************************************/
.ovfl-hidden {overflow:hidden}
