@charset "utf-8";
/* CSS Document */
/****************************************************************************************************
* Filename: Main.css
* Purpose: All the main CSS Rules required to design web pages.
****************************************************************************************************/

@font-face { font:normal 12px Arial }
/*** BODY (GLOBAL SETTING)***/
html { }
body { font:normal 13px Arial, Helvetica, sans-serif; background:url(/assets/body_bg2png.png) 0 0 repeat-x #f7f7f7; color:#6b6a68 }
a { color:#900a0b }
.link_rupload a.red { color:#F00 }
/*** MAIN WRAPPERS ***/
#wraper { width:1000px; margin:0 auto; min-height:510px; }
/*** HEADER ***/
#header { width:100%; height:53px; }
#header .right_top { padding:28px 30px 0 0 }
#header .right_top a { color:#fff; padding:0 10px; ; display:block; height:14px; line-height:14px; font:normal 11px Arial; border-right:1px solid #fff }
#header .right_top a.link1 { font-weight:bold; border:none; font-size:12px }
#rightcol { width:340px }
#toplinks { width:486px }
/*** WEBSITE LOGO ***/
#logo { width:196px; height:35px; margin:11px 0 0 27px }
#logo a, #logo a:hover { text-decoration:none; width:161px; height:34px; background:url(/assets/logo.png) 0 0 no-repeat; display:block }
/*** SEARCH BOX ***/
/*** EASY TOOLS ***/
/*** ACCOUNT HOLDER BAR ***/
/** MAIN NAV **/
/*** MAIN CONTENTS (section wise) ***/
#main_wrp { width:100% }
#maincontent_home { width:100% }
#maincontent { width:100% }
/*** CONTENT MODULES ***/
/*** POINTS NUMBER ***/
/*** CONTENT HEAD ***/
/***FOOTER *****/
#footer { width:100%; display:block; background:#eee; height:40px; width:100% }
#footer .right_bot { padding:16px 37px 0 0; color:#363636; font:normal 11px Arial }
/***global buttons*****/
.d_button { background:url(/assets/button.png) 0 0 no-repeat; float:left; margin-right:15px; text-align:center }
.d_button input { background:url(/assets/button.png) 100% -36px no-repeat; margin-right:-15px; font:bold 12px Arial; color:#555; float:left; height:34px; cursor:pointer; border:none }
.d_button:hover { background:url(/assets/button.png) 0 -72px no-repeat; }
.d_button:hover input { background: url("/assets/button.png") no-repeat scroll 100% -108px transparent; }
.d_button { background:url(/assets/button.png) 0 0 no-repeat; float:left; margin-right:15px; text-align:center }
.d_button a { cursor:pointer; background:url(/assets/button.png) 100% -36px no-repeat; margin-right:-15px; font:bold 12px/34px Arial; color:#555; float:left; height:34px; display:block }
.d_button:hover { background:url(/assets/button.png) 0 -72px no-repeat; }
.d_button:hover a { background: url("/assets/button.png") no-repeat scroll 100% -108px transparent; }
.a_button { background:url(/assets/big_bt_sprite.png) 3px -1px no-repeat; float:left; margin-right:11px; text-align:center }
.a_button input { background:url(/assets/big_bt_sprite.png) 100% -56px no-repeat; margin-right:-11px; font:bold 12px Arial; color:#555; float:left; height:53px; cursor:pointer; border:none }
.a_button:hover { background:url(/assets/big_bt_sprite.png) 0 -109px no-repeat; }
.a_button:hover input { background: url("/assets/big_bt_sprite.png") no-repeat 100% -164px transparent; }
.a_button_a { background:url(/assets/big_bt_sprite.png) 3px -1px no-repeat; float:left; margin-right:11px; text-align:center; display:block; height:53px }
.a_button_a:hover { background:url(/assets/big_bt_sprite.png) 0 -109px no-repeat; }
.a_button_a span { background:url(/assets/big_bt_sprite.png) 100% -56px no-repeat; margin-right:-11px; font:bold 12px Arial; color:#555; float:left; height:53px; cursor:pointer; border:none; line-height:53px; display:block }
.a_button_a:hover span { background: url("/assets/big_bt_sprite.png") no-repeat 100% -164px transparent }
.a_button_a { background:url(/assets/big_bt_sprite.png) 3px -1px no-repeat; float:left; margin-right:11px; text-align:center; display:block; height:53px }
.a_button_a:hover { background:url(/assets/big_bt_sprite.png) 0 -109px no-repeat; }
.a_button_a span { background:url(/assets/big_bt_sprite.png) 100% -56px no-repeat; margin-right:-11px; font:bold 12px Arial; color:#555; float:left; height:53px; cursor:pointer; border:none; line-height:53px; display:block }
.a_button_a:hover span { background: url("/assets/big_bt_sprite.png") no-repeat 100% -164px transparent }
/*** css for log in page ***/
#header_bot { background: #eeeeee; width:100%; height:28px; display:block; border-bottom:1px solid #ccc }
#header_bot .global_nav { padding:5px 0 0 21px }
#header_bot .global_nav a { padding:0 10px; color:#2e2e2e; font:bold 12px Arial, Helvetica, sans-serif }
#header_bot .global_nav a.active, #header_bot .global_nav a:hover { color:#346085 }
.login { background:url(/assets/log_in_bg.png) 0 0 no-repeat; width:334px; height:264px; margin:0 auto; display:block; margin-top:94px }
.wrp { width:213px; margin:0 auto; padding:24px 57px 56px 57px; text-align:center }
.wrp .box { margin:0 0 15px 0 }
.wrp .box .text_input { background:url(/assets/text_input_bg.png) 0 0 no-repeat; width:199px; height:17px; padding:3px; border:1px solid #c6c6c6; font:normal 12px Arial; color:#444; border-radius:2px; font:normal 11px Arial; color:#222 }
.log_lbl1 { display:block; overflow:hidden; width:100%; text-align:left; margin:0 0 4px 0; text-transform:capitalize; font:normal 12px Arial; font:normal 12px Arial; color:#444 }
.log_lbl1 span { color:#900 }
.btn_wrp2 { padding-left:7px }
.link_frgt { color:#6a6967; line-height:20px; font:normal 11px Arial; display:block; padding:10px 0 0 0 }
.link_frgt:hover { text-decoration:none }
/*** css for thank you  page ***/
.home_sec { width:413px; margin:0 auto; display:block; padding:125px 0 323px 0; text-align:center; overflow:hidden }
.home_sec .text { font:bold 12px Arial; margin:0 0 38px 0; color:#444 }
.center_span { font:normal 11px Arial; margin:0 0 4px 0; display:block; overflow:hidden }
.wrp_btn { padding:0 0 0 160px }
/*** css for parts exchange price file ***/
.parts_excng { background:url(/assets/exng_part_bg.png) 0 0 no-repeat; width:470px; height:264px; margin:0 auto; display:block; margin-top:94px; margin-bottom:268px }
.part_tlt1 { width:100%; text-align:center; color:#444; font:bold 16px Arial; padding:13px 0 0 0; background:url(/assets/exng_part_tlt.png) 0 0 no-repeat; height:33px }
.wrp_exng { width:213px; margin:0 auto; padding:34px 28px 17px 32px }
.box_exng { display:block; padding:0 0 5px 0 }
.wrp_exchange { width:246px; margin:0 auto; padding:34px 0 0 0; overflow:hidden }
/*** css for upload successfully ***/
.upload_wrp { width:170px; margin:0 auto; text-align:center }
.upload_wrp .inn_div { width:180px; display:block; margin:0 auto; text-align:center }
#maincontent .upload_sucess { padding:33px 0 0 0; width:184px }
.lbl_u_b { font:bold 12px Arial; color:#444; margin:0 0 4px 0; display:block; width:100% }
.home_link { background:url(/assets/home.png) 0 0 no-repeat; width:18px; height:20px; display:block; cursor:pointer; position:absolute; right:10px; top:10px }
.btn_wrp3 { padding:0 0 0 60px }
.link_rupload { width:100% }
.link_rupload a { font:normal 11px Arial, Helvetica, sans-serif; color:#4d789f; margin:4px 0 0 0; text-align:left }
.link_rupload a:hover { text-decoration:underline }
/*** css for admin page***/
.admin_sec { width:514px; margin:0 auto; display:block; padding:125px 0 323px 0; text-align:center; overflow:hidden }
.admin_sec .btn_sec { padding:42px 0 0 0 }
.admin_sec .text_a { font:normal 12px Arial; color:#5c5c5c }
/*** Rounded Corners ***/
.top1 { background:url(/assets/roundbox.png) 0 0 no-repeat; margin-right:15px }
.top1 h2 { background:url(/assets/roundbox.png) 100% -56px no-repeat; font:bold 14px Arial; height:46px; margin-right:-15px; line-height:44px; text-align:center; color:#444; text-shadow:1px 1px 0 #fff }
.end1 { background:url(/assets/roundbox.png) 0 -45px no-repeat; margin-right:15px }
.end1 div { background:url(/assets/roundbox.png) 100% -101px no-repeat; margin-right:-15px; height:11px }
.bg1 { background:url(/assets/bg1.jpg) 0 0 repeat-y; padding-left:3px }
.bg1 .bg2 { background:url(/assets/bg2.jpg) 100% 0 repeat-y; padding-right:3px }
.bg3 { background:#fff }
/*** Rounded Corners for plain white backgrond ***/
.top2 { background:url(/assets/roundbox_8.png) 0 0 no-repeat; margin-right:15px }
.top2 h2 { background:url(/assets/roundbox_8.png) 100% -56px no-repeat; height:46px; margin-right:-15px; line-height:46px; text-align:center; color:#444 }
.top2 h2 img { margin:5px 0 0 5px; vertical-align:middle }
.end1_1 { background:url(/assets/roundbox_8.png) 0 -45px no-repeat; margin-right:15px }
.end1_1 div { background:url(/assets/roundbox_8.png) 100% -101px no-repeat; margin-right:-15px; height:11px }
.bg1_1 { background:url(/assets/bg_1.png) 0 0 repeat-y; padding-left:3px }
.bg1_1 .bg2_2 { background:url(/assets/bg_2.png) 100% 0 repeat-y; padding-right:3px }
.bg3_3 { background:#fff }
/*** Rounded Corners for plain white backgrond ***/
.wrp_file_pblsh { padding:25px 0 0 0 }
.wrp_1 { width:100%; margin:0 auto; padding:0px; text-align:center }
.wrp_1 .box_1 .text_input { background:url(/assets/text_input_bg.png) 0 0 no-repeat; width:199px; height:17px; padding:3px; border:1px solid #c6c6c6; font:normal 12px Arial; color:#444; border-radius:2px; font:normal 11px Arial; color:#222 }
.tbl_top_tlt { width:100%; display:block }
.tbl_top_tlt tr { width:100% }
h3.tlt_top { display:block; padding:10px 0 0 21px; background:url(/assets/th_bg.png) 0 0 repeat-x; height:19px; display:block; text-align:left; color:#000; font:bold 12px Arial; line-height:11px !important; border-bottom:1px solid #c7d6e2 ; width:96%}
.tlt_top span { text-shadow:1px 1px 0 #fff }
/*** css for published_file_2 ***/
.wrp_list { display: block; height: 25px; overflow: hidden; width: 100%; }
.desc_file_2 { width:423px; padding:0px 0 0 21px; overflow-y: scroll; height:324px }
.desc_file_3 { widht:440px }
.listing_file li { float:left; display:block; overflow:hidden; text-align:left; padding:3px 0 }
.listing_file li.frist { width:107px }
.listing_file li.scnd { width:106px }
.listing_file li.thrd { padding-left: 6px; text-align: center; width: 96px; }
.listing_file li.frth { width:86px; padding:0 0 0 5px; text-align:center }
.listing_file li .link_f { color:#454545; font:normal 11px Arial }
.listing_file li label { color:#454545; font:normal 11px Arial }
.text_Basket { width:226px; padding:4px; font:normal 12px Arial; color:#707173 }
.wrp_txt { width:100%; display:block; overflow:hidden; margin:0 0 20px 0; }
.msg_sec { width:360px; padding:10px 0 10px 30px; text-align:center }
.select_c { color:#444444; font:normal 12px Arial; width:152px; height:20px }
.wrp_wrp_pblsh { width:693px; margin:0 auto; padding:25px 0 8px 0 }
.wrp_wrp_pblsh .left_fnm { width:208px; margin:0 20px 0 10px; border:1px solid #ccc; padding:0px 0 0px 0; background:#f7f7f7 }
.wrp_wrp_pblsh .rigth_fnm { width:443px; border:1px solid #ccc; }
.wrp_wrp_pblsh .rigth_fnm2 { width:464px; border:1px solid #ccc; }
ul.left_tab li { float:left; width:208px; display:block; overflow:hidden; background:#eee; border-bottom:1px solid #ccc;}
ul.left_tab li.last { border:none }
ul.left_tab li:hover, ul.left_tab li.active { background:url(/assets/arrow1.png) 189px 8px no-repeat #fff }
ul.left_tab li a { color:#2e2e2e; font:normal 12px Arial, Helvetica, sans-serif; line-height:16px; width:195px; display:block; line-height:20px; padding-left:13px; line-height:24px; }
ul.left_tab li.active {
  color:#2e2e2e; font:normal 12px Arial, Helvetica, sans-serif; line-height:16px; width:168px; display:block; padding-left:40px; line-height:24px;
}


/*** css for report page ***/
.rprt_sec { width:100%; min-height:540px }
.inn_wrp_2 { padding:18px 38px 18px 38px }
.inn_wrp_2 .top_form_sec { padding:0 0 20px 0; overflow:hidden }
.styled-select { border-radius:2px; margin:0 10px 0 0 }
.styled-select select { background: transparent; width: 221px; padding: 5px; font:normal 12px Arial; border: 1px solid #ccc; height: 29px; border-radius:5px; color:#555 }
.flter_btn { background:#2b5377; border:none; width:56px; height:30px; display:block; border:none; border-radius:5px; color:#fff; font:normal 12px Arial; line-height:30px }
.right_btn { clear:both; overflow:hidden; display:block }
.tbl_sec { padding:20px 0 0 0; overflow:hidden }
.tbl_rpt_sec tr th { padding:0px 0 0 2px; text-align:left; color:#333; font:bold 12px Arial; background:#e9eef2; border:1px solid #C7D6E2; border-width:1px 0 1px 0; height:28px; line-height:28px }
.tbl_rpt_sec tr td { padding:5px }
.tbl_rpt_sec tr { border-bottom:1px solid #f7f7f7; background:#f7f7f7 }
.tbl_rpt_sec tr.active, .tbl_rpt_sec tr:hover { background:#fff }
/*css written by Vidya for  Download page*/

.desc_file_2_d { width:671px; padding:0px 0 0 21px; overflow-y: scroll; height:324px }
.wrp_4 { width:464px }
.listing_file li.frist_d { width:154px }
.listing_file li.scnd_d { width:127x }
.listing_file li.thrd_d { padding-left: 6px; text-align: center; width:207px; }
.listing_file li.frth_d { width:176px; padding:0 0 0 5px; text-align:center }
.listing_file li.fifth_d { width:200px; padding:0 0 0 5px; text-align:center }
.wrp_2 { width:464px; margin:0 auto; padding:0px; text-align:center }
.details { width:438px; margin:0 auto; padding:20px 0; text-align:center; overflow:hidden }
.error_details li { float:left; display:block; width:100%; margin:0 0 5px 0; overflow:hidden }
.error_details li label { color:#000 !important; width:169px; text-align:left; display:block; font:bold 12px Arial; color:#ccc; font:normal 12px Arial; width:128px }
.error_details li label.error_msg_l { width:309px }
/*css for user page*/
.export { background:url(/assets/button_black.png) 0 0 no-repeat; float:left; margin-right:15px; text-align:center }
.export_blank { float:left; margin-right:15px; text-align:center; height:30px }
.export a { background:url(/assets/button_black.png) 100% -31px no-repeat; cursor:pointer; margin-right:-15px; font:bold 12px/30px Arial; color:#555; float:left; height:30px; display:block; color:#fff }
.export a .up_arrow { background:url(/assets/arrow_upper_side.png) 12px 9px no-repeat; display:block; width:10px; height:30px; padding:0 0 0 10px; margin:0 5px 0 0; line-height:30px}
.export:hover { background:url(/assets/button_black.png) 0 -62px no-repeat; }
.export:hover a { background: url(/assets/button_black.png) 100% -93px no-repeat; }
.upload_asset2 { padding:20px 0 0px 20px}
.desc_file_4_d { width:541px; padding:10px 0 0 21px; overflow-y: scroll; height:324px }
.wrp_wrp_pblsh .rigth_fnm_u {width:565px; overflow-y: scroll; height:324px }
.listing_file li.frist_u { width:118px }
.listing_file li.scnd_u { width:118px }
.listing_file li.thrd_u {  width:129px; text-align:center }
.listing_file li  a.iconlink{  padding:0 0 0 5px; text-align:center }
.listing_file li.frth_u { width:86px; text-align:center}
.listing_file li .iconlist { width:16px; height:16px; display:block; cursor:pointer}
.wrp_user{ width:564px; margin:0 auto; padding:0px 0 8px 0 }
.export a .addPlus { background:
url(/assets/plus.png) 4px 6px no-repeat; display:block; width:10px; height:30px; padding:0 0 0 10px; margin:0 5px 0 0; line-height:30px}
.wrp_list { display: block; height: 28px; overflow: hidden; width: 100%; border:1px solid #fff; border-width:1px 0 1px 0 }
.wrp_list:hover { background:#f9f9f9; border:1px solid #ddd; border-width:1px 0 1px 0}




/*********** ERROR ***************/

div.alert-error {
  padding: 0px 50px 5px 90px;
  background-color:#f2e0e3;
  color:#b94a48;
  margin:0px
}

div.alert-notice {
  padding: 0px 50px 5px 90px;
  background-color:#d9edf7;
  color:#5aafde;
  margin:0px
}

div.alert-success {
  padding: 0px 50px 5px 90px;
  background-color: #dff0d8;
  color: #c2cc7d;
  margin : 0px;
}

div.alert h2 {
  padding-top:5px;
  font-size: 17px;
}

div.alert ol {
  padding:0px 0px 0px 25px;
}

div#success {
  text-align: center;
  padding-top: 10px;
  font-size: 14px;
  font-family: Courier New;
  background: #DFF0FD;
  padding-bottom: 10px;
  color: #5aa39d;
  font-weight: bold;
}

div#error {
  text-align: center;
  padding-top: 10px;
  font-size: 14px;
  font-family: Courier New;
  background: #f2dede;
  padding-bottom: 10px;
  color:  #be4e60;
  font-weight: bold;
}


