<header id="header">
  <h1 id="logo" class="fl"><a href="/">&nbsp;</a></h1>
  <div class="fr right_top"> 
    <a href="<%= edit_user_path(current_user) %>" class="fl ">Welcome <%= current_user.name %>!</a>
  <%= link_to 'Log Out', logout_path ,:class => "fl link1" %> 
</header>  
<section id="header_bot">
  <div class="fl global_nav"> 
   <%= link_to 'Home',home_path,:class => "f1 #{active_class('home')}" %>
    
   <% if current_user.publisher? %>
    <%= link_to 'User',users_path,:class => "f1 #{active_class('users')}" %> 
    <%= link_to 'Upload',basic_files_path,:class => "f1 #{active_class('basic_files#index')}" %>
    <%= link_to 'Publish',publish_completed_basic_files_path,:class => "f1 #{active_class('basic_files#publish_completed')}" %>
    <%= link_to 'Report',audits_path ,:class => "f1 #{active_class('audits')}" %> 
   <%else%>
     <%= link_to 'User',edit_user_path(current_user),:class => "f1 #{active_class('users')}" %> 
     <%= link_to 'Download',download_page_path,:class => "f1 #{active_class('basic_files#download_page')}" %> 
   <%end%> 
   
  </div>
</section>
