<!DOCTYPE html>
<html>
  <head>
    <title>Decisiv</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript">
      document.createElement('header');
      document.createElement('nav');
      document.createElement('section');
      document.createElement('article');
      document.createElement('aside');
      document.createElement('footer');
    </script>
  </head>
  <body>
    <section id="main_wrp"> 
      <%= render 'header' %>
        <section id="wraper">
          <section id="maincontent"> 
            <%= yield %>
          </section>
        </section>
        <!--start of footer section-->
        <footer id="footer">
         <section class="fr right_bot">Parts Price Management Platform © 2012</section>
        </footer>
        <!--end of footer section--> 
    </section>
    <script type="text/javascript">
      (function() { 
        var offset = (new Date()).getTimezoneOffset();
        var date = new Date();
        date.setTime(date.getTime()+3600000);
        document.cookie = "utc_offset="+offset+"; expires="+date.toGMTString();+"; path=/";
      })()
    </script>
  </body>
</html>



